<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-7">
	<%= image_tag @listing.image.url(:medium) %>
</div>

<div class="col-md-5">
	<p>
	  <%= @listing.name %>
	</p>

	<p>
	  <%= @listing.description %>
	</p>

	<p>
	  <%= number_to_currency(@listing.price) %>
	</p>
</div>

<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
